# api
NODE_ENV=
PORT=
SECRET_KEY=

# POSTGRES_SQL
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DATA_BASE=

# Google Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# facebook Credentials
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
