@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Montserrat:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --clr-blue-dark: rgb(46, 45, 63);
  --clr-blue-light: rgb(46, 45, 63, .05);
  --clr-pink: rgb(237, 116, 125) ;
  --clr-pink-medium: rgb(230, 57, 70);
  --clr-pink-light: rgb(253, 241, 242);
  --clr-green: rgb(80, 227, 102);
  --clr-grey-dark: rgb(135, 135, 135);
  --clr-grey-medium: rgb(229, 229, 229)
}

body{
  font-family: 'Montserrat', sans-serif;
}