@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Montserrat:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --clr-blue-dark: rgb(46, 45, 63);
  --clr-blue-light: rgb(46, 45, 63, .05);
  --clr-pink: rgb(230, 57, 70);
  --clr-pink-medium: rgba(230,57,70, .7);
  --clr-pink-light: rgb(230, 57, 70, .07);
}

body{
  font-family: 'Montserrat', sans-serif;
}